#mainSubtitle {
    border: 1px solid grey;
    text-align: center;
}

#mainTitle {
    display: block;
}

#mainMenu {
    position: relative;
    left: 1100px;
}

#mainImage {
    width: 100%;
}

#imageLogo {
    position: absolute;
    top: 450px;
}

#mainContent {
    position: relative;
    left: 200px;
}

.opc {
    width: 20px;
    height: 10px;
    background-color: royalblue;
    color:  white;
    text-decoration: none;
}

.opc:hover {
    background-color: limegreen;
}
/*
h2 {
    border: 1px solid grey;
    text-align: center;
}

.logo {
    top: 100;
    left: 100;
}
*/
