#imageLogo {
    position: absolute;
    left: 1200px;
    top: 300px;
    display: block;
}

#mainTitle {
    position: absolute;
}

#mainMenu {
    position: absolute;
    top: 400px;
    display: block;
    width: 150px;
}

#mainImage {
    display: inline-block;
    width: 100%;
    top: 0px;
}

#mainSubtitle {
    color: white;
    background-color: black;
    text-align: center;
}

#mainContent {
    position: relative;
    left: 200px;
}

.opc {
    display: block;
}
/*
h2 {
    color: white;
    background-color: black;
    display: block;
    text-align: center;
}

nav {
    display: inline;
    top: 0;
    left: 0;
    background-color: aquamarine;
}

.imagenuno {
    display: block;
    width: 100%;
    height: 300px;
}

.container {
    position: relative;
}

.titulo {
    position: absolute;
    top: 8px;
    left: 16px;
}

.logo {
    position: absolute;
    top: 315px;
    right: 30px;
}

section {
    display: block;
    left: 1000px;
}
*/